header{
    background-color: #0A71A6;
    color: #e8fdff;
}

body {
  background: linear-gradient(lightblue, white);
}

main{
    background-color: white;
    padding: 16px;
}

.post {
    margin-bottom: 48px;
}

.post .user-info img{
    border-radius: 50%;
}

main{
/* cyrillic */
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(https://fonts.gstatic.com/s/robotocondensed/v14/mg0cGfGRUERshzBlvqxeAAkppp3DpoUy7FSrSUASttQ.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}