<!doctype html>
<html>

 <head>
  <title> Finstagram </title>
 </head>  
 
    <body>
     <header>
      <h1>Finstagram</h1>
     </header>
      <main role="main">
        <artical>
          <div>
            <img src="http://naserca.com/images/sharky_j.jpg" alt="sharky_j">
            <h2>sharky_j</h2>
            <h3>15 minutes ago</h3>
          </div>
        </artical>
        
        <artical>
         <div>
          ...
         </div>
         <a href="#">
          <img src="http://naserca.com/images/shark.png" alt="post from sharky_j">
         </a>
        </artical>
      </main>
     </body>   
        
        
        
        
        
</html>